body {
    margin: 0;
    background: radial-gradient(circle, #000 40%, #0a0a0a);
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

/* TEXT */
.overlay {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

.title {
    font-size: 3rem;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.subtitle {
    margin-top: 10px;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
}

.subtitle2 {
    margin-top: 5px;
    color: #aaa;
    opacity: 0;
    animation: fadeIn 4s ease forwards;
}

/* FLOATING LETTERS */
.letters {
    position: absolute;
    width: 100%;
    height: 100%;
}

.letter {
    position: absolute;
    font-size: 2rem;
    cursor: pointer;
    animation: float 10s infinite ease-in-out;
}

.letter:nth-child(1) { left: 20%; top: 80%; animation-delay: 0s; }
.letter:nth-child(2) { left: 50%; top: 90%; animation-delay: 2s; }
.letter:nth-child(3) { left: 75%; top: 85%; animation-delay: 4s; }

@keyframes float {
    0% { transform: translateY(0); opacity: 0.5; }
    50% { transform: translateY(-200px); opacity: 1; }
    100% { transform: translateY(0); opacity: 0.5; }
}

/* POPUP */
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.9);
    display: none;
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #111;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    text-align: center;
    animation: scaleIn 0.4s ease;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
    font-size: 1.5rem;
}

/* ANIMATIONS */
@keyframes fadeIn {
    to { opacity: 1; transform: translateY(0); }
}

@keyframes scaleIn {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}
.enter-btn {
    position: fixed;
    bottom: 30px;          /* distance from bottom */
    left: 50%;
    transform: translateX(-50%);  /* perfect horizontal centering */

    padding: 12px 28px;
    border-radius: 30px;
    background: linear-gradient(135deg, #a855f7, #ec4899);
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem;

    box-shadow: 0 0 15px rgba(168, 85, 247, 0.4);
    transition: 0.3s;
}

.enter-btn:hover {
    transform: translateX(-50%) scale(1.05);
    box-shadow: 0 0 25px rgba(168, 85, 247, 0.7);
}
.back-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    color: #eaeaea;
    text-decoration: none;
    font-size: 0.95rem;
    padding: 8px 14px;
    border-radius: 20px;
    background: rgba(255,255,255,0.05);
    border: 1px solid #333;
    backdrop-filter: blur(8px);
    transition: 0.3s;
    z-index: 1000;
}

.back-btn:hover {
    background: rgba(255,255,255,0.1);
    border-color: #a855f7;
}